<template>
	<v-flex xs12>
		<admin-data-table
			ref="adminDataTable"
			:dataTable="dataTable"
			:modelName="modelName"
			:collection="collection"
			:tblShowFields="tblShowFields"
			:selectedList.sync="selected"

			@change-sort="changeSort"
		>
			<template #rowBtns="props">
				<v-chip small v-show="props.item.contacted" color="green" text-color="white"><v-icon>check_circle_outline</v-icon>Contacted!</v-chip>
				<v-btn v-if="!props.item.contacted" title="Mark as Contacted" color="warning" fab small @click="updateContacted(props.item.id)"><v-icon>check_circle_outline</v-icon></v-btn>
				<v-btn title="Edit" color="primary" fab small @click="edit(props.item.id)"><v-icon>edit</v-icon></v-btn>
	    		<v-btn title="Delete" color="error" fab small class="text-white" @click="remove(props.item.id)"><v-icon>delete_outline</v-icon></v-btn>
			</template>

			<template #rowColumns="props">
				<td>{{ parseInt(props.index) + 1 }}</td>
       			<td>{{ props.item.name }}</td>
       			<td>{{ props.item.address }} <span v-if="props.item.address2">{{ props.item.address2 }}</span><br />
       				{{ props.item.city }}, {{ props.item.state.abbr }} {{ props.item.zip }}
       			</td>
       			<td>{{ props.item.foodcat.title }}</td>
       			<td>{{ props.item.contact_fname }}<span v-if="props.item.contact_lname"> {{ props.item.contact_lname }}</span><span v-if="props.item.contact_title">, {{ props.item.contact_title }}</span></td>
       			<td class="notes">
       				<v-tooltip v-if="props.item.response_notes" bottom max-width="400" open-delay="1500">
                        <template v-slot:activator="{ on }">
                        	<div v-on="on" v-html="$options.filters.truncate(props.item.response_notes, 100)"></div>
                        </template>
                        <span v-html="props.item.response_notes"></span>
                    </v-tooltip>
       			</td>
			</template>
		</admin-data-table>

		<v-flex xs12 id="prospectsMapContainer">
			<GmapMap id="googleMap" class="google-map"
				v-if="map.points.length"
	          	:center="map.center"
	          	:zoom="7"
	          	map-type-id="hybrid"
	        >
	        	<GmapInfoWindow
	        		:options="map.infoWindow.opts"
	        		:position="map.infoWindow.position"
	        		:opened="map.infoWindow.open"
	        		@closeclick="map.infoWindow.open = false"
	        	></GmapInfoWindow>

	        	<GmapMarker
	            	v-for="(m, index) in map.points"
	            	:key="index"
	            	:position="m.position"
	            	:title="m.title"
					:label="m.label"
	            	:clickable="true"
	            	:draggable="true"
	            	@click="toggleInfoWindow(m,index)"
	          	/>
	        </GmapMap>

			<v-list v-if="tripDirections.route" two-line class="w-100">
				<v-list-tile>
					<v-list-tile-avatar color="red" class="text-white">A</v-list-tile-avatar>
					<v-list-tile-content>
						<v-list-tile-title>Starting At: {{ tripDirections.route.legs[0].start_address }}</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>

				<v-list-group v-for="(leg, index) in tripDirections.route.legs" :key="leg.end_address" no-action>
					<template v-slot:activator>
	                    <v-list-tile>
	                    	<v-list-tile-avatar color="red" class="text-white">{{ tripDirections.alphabet.charAt(index + 1) }}</v-list-tile-avatar>
	                      	<v-list-tile-content>
	                        	<v-list-tile-title>To: {{ leg.end_address }} <strong>({{ leg.distance.text }} in {{ leg.duration.text }})</strong></v-list-tile-title>
	                    		<v-list-tile-sub-title>Starting at: {{ leg.start_address }}</v-list-tile-sub-title>
	                    	</v-list-tile-content>
	                    </v-list-tile>
	            	</template>

	                <v-list-tile v-for="(directions, index2) in leg.steps" :key="directions.instructions" class="adp-substep">
	                	<v-list-tile-content class="adp-stepicon">
	                    	<v-list-tile-title><span :class="'adp-' + directions.maneuver" class="adp-maneuver mr-2"></span><div class="ml-5" style="line-height:15px;">{{ index2 + 1 }}. <span v-html="directions.instructions"></span></div></v-list-tile-title>
	                	</v-list-tile-content>

	                	<v-list-tile-action>({{ directions.distance.text }} in about {{ directions.duration.text }})</v-list-tile-action>
	                </v-list-tile>
				</v-list-group>
				<v-divider></v-divider>
			</v-list>
		 </v-flex>
		 <div class="d-none" id="directionsPanel"></div>

		 <v-dialog v-model="tripDirections.dialog" width="400px">
	    	<v-card>
	        	<v-card-title class="grey lighten-4 py-4 title">
	          		Plan a Trip
	        	</v-card-title>
	        	<v-container grid-list-sm class="pa-4">
	          		 <v-layout row wrap>
	                    <v-flex xs12>
	                    	<v-text-field prepend-icon="my_location" placeholder="Enter your starting address..." v-model="tripDirections.start.val" :error-messages="tripDirections.start.errors"></v-text-field>
	                    </v-flex>

						<p v-if="selected.length <= 25">Visiting the following ({{ selected.length }}) addresses:</p>
						<v-alert v-else :value="true" type="error">You may only select up to 25 addresses at a time to display!</v-alert>

						<v-list two-line class="w-100" dense>
	           				<template v-for="(addr, index) in selected">
	              				<v-list-tile :key="index" ripple>
	                            	<v-list-tile-content>
	                                	<v-list-tile-title>{{ addr.name }}</v-list-tile-title>
	                                	<v-list-tile-sub-title>{{ addr.address }}<span v-if="addr.address2"> ,{{ addr.address2 }}</span><br />{{ addr.city }}, {{ addr.state.abbr }} {{ addr.zip }}</v-list-tile-sub-title>
	                                </v-list-tile-content>

	                                <v-list-tile-action>
	                                	<v-icon color="error" title="Remove this address" @click="selected.splice(index, 1)">remove_circle_outline</v-icon>
	                            	</v-list-tile-action>
	                            </v-list-tile>
	                            <v-divider v-if="index + 1 < selected.length" :key="index"></v-divider>
	            			</template>
	          			</v-list>
	                </v-layout>
	        	</v-container>
	            <v-card-actions>
	            	<v-spacer></v-spacer>
	              	<v-btn flat color="error" @click="tripDirections.dialog = false"><span class="fa fa-ban mr-1"></span>Cancel</v-btn>
	              	<v-btn flat color="primary" :disabled="selected.length > 25" @click=getTripDirections()><v-icon class="mr-1">directions_car</v-icon>Get Trip Directions</v-btn>
	            </v-card-actions>
	    	</v-card>
		</v-dialog>
	</v-flex>
</template>

<script>
	import { MessageBox } from '../../MessageBox.js';

	import { crudFunctionsMixin } from './mixins/crud-functions.js';
	import { updateContactedFunctionsMixin } from './mixins/update-contacted-functions.js';

	import * as VueGoogleMaps from 'vue2-google-maps';

	Vue.use(VueGoogleMaps, {
		load: {
		    key: process.env.MIX_GOOGLE_API_KEY,
		    libraries: 'places'
		},
		installComponents: true
	});

	Vue.component('admin-data-table', require('../components/Admin/DataTable').default);

	export default {
		mixins: [
			crudFunctionsMixin,
			updateContactedFunctionsMixin
		],
		data() {
			return {
				model: "prospect",
				modelName: "Prospect",
				modelNamePlural: "Prospects",
				form: {
					inputs: {
						id: {
							val: '', save: true
						},

						name: {
							val: '', save: true, add: true,
							gridSize: 3,
							icon: 'business',
							placeholder: 'Restaurant Name'
						},
						phone: {
							val: '', save: true, add: true,
							gridSize: 3,
							icon: 'phone',
							placeholder: 'Phone'
						},
						website: {
							val: '', save: true, add: true,
							gridSize: 3,
							icon: 'mail',
							placeholder: 'Website'
						},
						food_cat_id: {
							val: '', save: true, add: true,
							gridSize: 3,
							placeholder: 'Food Category',
							type: 'select',
							items: []
						},

						contact_fname: {
							val: '', save: true, add: true,
							gridSize: 4,
							icon: 'fa fa-user',
							placeholder: 'Contact First Name'
						},
						contact_lname: {
							val: '', save: true, add: true,
							gridSize: 4,
							placeholder: 'Contact Last Name'
						},
						contact_title: {
							val: '', save: true, add: true,
							gridSize: 4,
							placeholder: 'Contact Title'
						},

						address: {
							val: '', save: true, add: true,
							gridSize: 6,
							icon: 'contact_mail',
							placeholder: 'Address'
						},
						address2: {
							val: '', save: true, add: true,
							gridSize: 6,
							placeholder: 'Address Line 2'
						},

						city: {
							val: '', save: true, add: true,
							gridSize: 4,
							icon: 'location_city',
							placeholder: 'City'
						},
						state_id: {
							val: '', save: true, add: true,
							gridSize: 4,
							placeholder: 'State',
							type: 'select',
							items: []
						},
						zip: {
							val: '', save: true, add: true,
							gridSize: 4,
							placeholder: 'Zip Code'
						},

						response_notes: {
							val: '', save: true, add: true,
							gridSize: 12,
							icon: 'fa fa-comments',
							placeholder: 'Response Notes / Comments',
							type: 'textarea',
							autoGrow: true
						}
					},
		    		titleText: "Add Prospect / Lead",
		    		errors: false
		    	},
		    	formSearch: {
		    		inputs: {
		    			keywords: {
		    				val: "",
		    				icon: "keyboard",
		    				placeholder: "Keywords"
		    			},
		    			contacted: {
		    				val: "",
			    			icon: "contacts",
			    			placeholder: "Contact Status",
			    			type: "select",
			    			items: [
			    				{'text': 'Not Contacted', 'value': 0},
			    				{'text': 'Contacted', 'value': 1}
			    			]
		    			},
		    			location: {
		    				val: "",
			    			icon: "location_searching",
			    			placeholder: "Zip Code, City, or Location",
			    			events: {
								'keyup' : () => {
									this.formSearch.inputs.radius.hide = !this.formSearch.inputs.location.val.length;
								}
			    			}
		    			},
		    			radius: {
		    				hide: true,
		    				val: 5,
			    			icon: "my_location",
			    			placeholder: "Search Radius",
		    				type: "select",
		    				items: [5,10,20,50],
		    				hint: "In Miles..."
		    			}
		    		}
		    	},
		    	toolbar: {
		    		btns: [
		    			{
			    			disabledIfNoneSelected: true,
			    			icon: "directions_car",
			    			text: "Get Trip Directions",
			    			events: {
								'click' : () => (this.tripDirections.dialog = true)
			    			}
			    		}
		    		],
		    		menuItems: [
		    			{
		    				disabledIfNoneSelected: true,
			    			icon: {
			    				icon: "check_circle_outline",
			    				color: "success"
			    			},
			    			title: "Mark Selected as Contacted",
			    			events: {
								'click' : this.updateContactedSelected
			    			}
		    			}
		    		]
		    	},
		    	dataTable: {
		    		headers: [
						{ text: 'Index', value: 'id', sortable: false },
						{ text: 'Name', value: 'name', sortable: true },
						{ text: 'Address', value: 'address', sortable: false },
						{ text: 'Food Category', value: 'foodcat_id', sortable: true },
						{ text: 'Contact', value: 'contact_lname', sortable: true },
						{ text: 'Admin Comments', value: 'response_notes', sortable: true },
						{ text: 'Contacted', value: 'contacted', sortable: true }
					],
					pagination: {
						sortBy: 'name'
					}
		    	},
				map: {
					points: [],
					center: {},
					infoWindow: {
						position: null,
						open: false,
						currentIndex: null,
						opts: {
							content: '',
							pixelOffset: {
				            	width: 0,
				              	height: -35
				            }
						}
					}
				},
				tripDirections: {
		    		dialog: false,
		    		start:  {
		    			val: '',
		    			errors: []
		    		},
		    		route: null,
		    		alphabet: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
		    	}
			};
		},

		computed: { },

		watch: {
			selected: function(newSelected) {
				this.$root.selected = newSelected;
			},
			'map.points': function(newPoints) {
				if(newPoints.length) {
					this.map.center = newPoints[0].position;
				}
			}
		},

		created() {
			this.getFromRedisCache('food_cats_json', this.form.inputs.food_cat_id, 'items');
			this.getFromRedisCache('us_states_json', this.form.inputs.state_id, 'items');
		},

		mounted() {
			this.$watch(
				() => {
		            return this.$refs['adminDataTable'].$refs['ProspectTable'].filteredItems;
		        },
		        (items) => {
		        	this.map.points = this.calcPoints(items);
		        }
			);
		},

		methods: {
			toggleInfoWindow(marker, i) {
				this.map.infoWindow.position = marker.position;
				this.map.infoWindow.opts.content = marker.popupContent;

	            if (this.map.infoWindow.currentIndex == i) {
	            	this.map.infoWindow.open = !this.map.infoWindow.open;
	            } else {
	            	this.map.infoWindow.open = true;
	            	this.map.infoWindow.currentIndex = i;
	            }
			},

			calcPoints(items) {
				let myPts = [];
				let i = 0;

				items.forEach(function(prospect) {
	    			if(prospect.latitude && prospect.longitude) {
	    				i++;
	    				myPts.push({
	    					position: {
	    						lat: parseFloat(prospect.latitude),
	    						lng: parseFloat(prospect.longitude)
	    					},
	    					index: 			i,
	    					label: 			String(i),
	    					title: 			prospect.name,
	    					popupContent:	`<p><strong>${prospect.name}</strong><br />${prospect.address}<br />${prospect.city}, ${prospect.state.abbr} ${prospect.zip}</p>`
	    				});
	    			}
	    		});

				return myPts;
			},

	    	search() {
				let params = {
	    			'keywords'	: this.formSearch.inputs.keywords.val,
	    			'contacted'	: this.formSearch.inputs.contacted.val
	    		};

	    		if(this.formSearch.inputs.location.val) {
	    			params.location 	= this.formSearch.inputs.location.val;
	    			params.radius 		= this.formSearch.inputs.radius.val;
	    		}

	    		this.getFetch(params);
	    	},

	    	getTripDirections() {
	    		if(!this.tripDirections.start.val) {
	    			this.tripDirections.start.errors = "You must specify a starting address!";
	    		} else {
	    			let self = this;

	    			this.tripDirections.start.errors = [];

	        		let wayPts = this.selected.map(p => ({
	    				location: `${p.latitude}, ${p.longitude}`,
	    		    	stopover: true
	        		}));

	        		let directionsService = new google.maps.DirectionsService;
	                let directionsDisplay = new google.maps.DirectionsRenderer;
	                var map = new google.maps.Map(document.getElementById('googleMap'), {
	                	zoom: 6,
	                	center: {
	            			lat: parseFloat(this.selected[0].latitude),
	                      	lng: parseFloat(this.selected[0].longitude)
	            		}
	                });
	                directionsDisplay.setMap(map);

	                //set panel to make manuever icons available
	                directionsDisplay.setPanel(document.getElementById('directionsPanel'));

	                directionsService.route({
	                  origin: this.tripDirections.start.val,
	                  destination: wayPts[wayPts.length - 1].location,
	                  waypoints: wayPts,
	                  optimizeWaypoints: true,
	                  travelMode: 'DRIVING'
	                }, function(response, status) {
	                	if (status === 'OK') {
	                		//take off last leg since it will be same starting/ending points
	                		response.routes[0].legs.pop();

	    	                directionsDisplay.setDirections(response);
	    	                self.tripDirections.route = response.routes[0];

	    	                self.tripDirections.dialog = false;
	                	}
	                });
	    		}
	    	}
		}
	}
</script>

<style>
	#prospectsMapContainer, .google-map {
		height: 500px;
	}
	.v-datatable.v-table td.notes {
		max-width: 300px;
	}
	.v-datatable.v-table .btn-cell {
		min-width: 300px;
	}
</style>